body {
    background-image: url("WhatsApp Image 2023-08-18 at 15.38.26.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rebeccapurple;
    color: bisque;
    padding: 20px;
    text-align: center;
  }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 ul li {
    display: inline;
  }
 ul li a {
    text-decoration: none;
    color: slategray;
    padding: 10px;
  }
  
 ul li a:hover {
    background-color: violet;
    color: blue;
  }
  
  